{% extends "sales/layout.html" %}


{% block sideBar%}
    {% if watch %}
        {% for i in watch %}
            <ul>
                <li>{{i}}</li>
            </ul>
        {% endfor %}


    {% endif %}
{% endblock %}


{% block pic %}
    <img src = "/home/deadlyroadsign/2307Django/SaleSite/Sales/templates/sales/entriesPic/placeholder.png" height = "100%" width = "100%">
{% endblock %}


{% block article %}
    <h1>Current listings</h1>
    <ul>
        {% for listing in listings %}
            <li class = "lisUL">ID: {{ listing.id }} {{listing.name}} / Description: {{listing.description}} / PRICE: {{listing.price}} $  <a href ="{% url 'Sales:listingSite' Sid=listing.id  %}"> Got to listing!</a></li>
            <a href = "{%url 'Sales:watchlist_function' prod_id=listing.id %}">{{add_toWatchlist}}</a>
        {% endfor %}

    </ul>
{% endblock %}