{% extends "sales/layout.html" %}


{% block sideBar %}
    {% if watch %}
        {% for i in watch %}
        <ul>
            <li>{{i}}</li>
        </ul>
    {% endfor %}
    {% endif %}
{% endblock %}


{% block pic %}
    <img src = {{pic}} height = "100%" width = "100%">
{% endblock %}

{% block article %}
    <h2> {{this_listing.name}} </h2>
    <p class = "article_description"> {{this_listing.description}}</p>
    <h3 id = "priceHead"> {{this_listing.price}} $</h3>

    <form name = "biding" action ="{% url 'Sales:bidding' theProd=this_listing.name %}" method = "POST">
        {% csrf_token %}
        <input type = "integer" placeholder ="your bid" name = your_bid>
        <input type = "submit" value = submit>
    </form>
{% endblock %}